.modal-body
  .cntTxt
    font-family: SourceHanSansCN-Normal;
  .cntTxt:last-child
    span
      color #5893DC
.visible
    position absolute
    display inline
    right 0.2rem
    .icon-invisible,.icon-visible
      font-size 0.23rem
      vertical-align middle
.form-group
  padding-top  0.1rem
  .form-label
    line-height 0.2rem
    background #ffffff
    margin-bottom 0.01rem
    padding 0.115rem 0 0.115rem 0.19rem
    .inputBox
      display: inline-block
      line-height: 0.2rem
    .form-label-font
      font-family SourceHanSansCN-Regular
      color #232323
      font-size 0.14rem
      margin-right 0.3rem
    input
      font-family: Roboto-Regular;
      color: #232323;
      letter-spacing: 0;
      line-height 0.21rem
    input
    &.form-control
      width: 60%;
    &::-webkit-input-placeholder
      font-family: SourceHanSansCN-Regular;
      font-size 0.14rem
      color #c6c6c6
      letter-spacing 0


  .validate-errors
    padding-left 0.2rem
    height 0.5rem


