@font-face {
  font-family: 'iconfont';
  src:  url('../banks/fonts/iconfont.eot?6dwz2z');
  src:  url('../banks/fonts/iconfont.eot?6dwz2z#iefix') format('embedded-opentype'),
    url('../banks/fonts/iconfont.ttf?6dwz2z') format('truetype'),
    url('../banks/fonts/iconfont.woff?6dwz2z') format('woff'),
    url('../banks/fonts/iconfont.svg?6dwz2z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bankIcon-"], [class*=" bankIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="bankIcon-"]:before, [class*=" bankIcon-"]:before {
  font-size: 0.35rem
  color: #fff
}
bg-image($url)
  background-size contain
  background-repeat no-repeat
  background-image url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio)
    background-image url($url + "@3x.png")


.bankIcon-932:before {
  content: "\e684";
}

.bankIcon-947:before {
  content: "\e644";
}

.bankIcon-016:before {
  content: "\e631";
}

.bankIcon-009:before {
  content: "\e600";
}

.bankIcon-011:before {
  content: "\e685";
}

.bankIcon-005:before {
  content: "\e655";
}

.bankIcon-934:before {
  content: "\e69e";
}

.bankIcon-020:before {
  content: "\e612";
}

.bankIcon-006:before {
  content: "\e652";
}

.bankIcon-008:before {
  content: "\e63e";
}

.bankIcon-913:before {
  content: "\e7a2";
}

.bankIcon-938:before {
  content: "\e613";
}

.bankIcon-941:before {
  content: "\e642";
}

.bankIcon-028:before {
  content: "\e605";
}

.bankIcon-007:before {
  content: "\e65d";
}

.bankIcon-013:before {
  content: "\e634";
}

.bankIcon-915:before {
  content: "\e725";
}

.bankIcon-025:before {
  content: "\e61f";
}

.bankIcon-019:before {
  content: "\e6ad";
}

.bankIcon-911:before {
  content: "\e7b8";
}

.bankIcon-904:before {
  content: "\e7ab";
}

.bankIcon-920:before {
  content: "\e7ac";
}

.bankIcon-012:before {
  content: "\e601";
}

.bankIcon-004:before {
  content: "\e832";
}

.bankIcon-017:before {
  content: "\e64e";
}

.bankIcon-002:before {
  content: "\e7a3";
}

.bankIcon-003:before {
  content: "\e606";
}

.bankIcon-014:before {
  content: "\e668";
}

.bankIcon-997:before {
  content: "\e63b";
}

.bankIcon-998:before {
  content: "\e63c";
}

.bankIcon-018:before {
  content: "\e63d";
}

.bankIcon-940:before {
  content: "\e63f";
}



