.container-fluid
  .sendSms
    .sendPhoneNum
      font-size 0.12rem
      padding: 0.1rem 0.2rem 0 0.2rem
      color: #7D8497
      font-family: SourceHanSansCN-Regular
      span
        color #6098DE
        font-family: Roboto-Regular
  .verificationCode
    padding-top 0.1rem
    li:first-child
      height 0.45rem
      line-height 0.45rem
      background #ffffff
      margin-bottom 0.01rem
      padding-left 0.19rem
      .inputBox
        display: inline-block
        width: 70%
        line-height: 0.2rem
        input.form-control
          width: 100%
      span:first-child
         font-family SourceHanSansCN-Regular;
         color #232323
         font-size 0.14rem
         margin-right 0.285rem
        .obtainButtonSpan
          border-radius 100px
          display inline-flex
          background #acafb8
          line-height 0.25rem
          padding 0.03rem 0.15rem
          color #ffffff
        .ButtonSpan
          font-family: SourceHanSansCN-Regular
          background-image linear-gradient(90deg, #ebc678 0%, #d7ab69 100%)
          box-shadow 0 4px 8px 0 rgba(213, 167, 100, 0.30)
          font-size: 0.11rem
          color #ffffff
          letter-spacing 0
          line-height 0.25rem
          border-radius 100px
          display inline-flex
          padding 0.03rem 0.15rem
        .ButtonSpanGray
          //box-shadow 0 4px 8px 0 rgba(144, 144, 144, 0.30)
          color #ffffff
          letter-spacing 0
          line-height 0.25rem
          border-radius 100px
          display inline-flex
          padding 0.03rem 0.15rem
      span:last-child
        display inline
        position absolute
        right 0.2rem
    .validate-errors
      padding-left 0.2rem
      //height 0.5rem



