.modal-body
  .txt
    font-family: SourceHanSansCN-Normal;
    padding: 0 0.3rem 0 0.35rem
    font-size: 0.12rem
    color: #232323
    line-height: 0.18rem
    text-indent -0.14rem
    .relatedLiterature
      font-family: SourceHanSansCN-Regular;
      font-size: 0.12rem;
      color: #6098DE;
      letter-spacing: 0;
.form-group
  padding-top  0.1rem
  .form-label
    line-height 0.2rem
    background #ffffff
    margin-bottom 0.01rem
    padding: 0.115rem 0 0.115rem 0.19rem
    .form-label-font
      font-family SourceHanSansCN-Regular
      color #232323
      font-size 0.14rem
      margin-right 0.3rem

  .validate-errors
    padding-left 0.2rem
    height 0.5rem

