.authenticateFaile
    margin-top 0.1rem
    padding-top 0.45rem
    .authenticateFaileImg
       text-align center
       img
        width 3rem
    .failure
       text-align center
       margin-top 0.22rem
      .failresult
         width 80%
         margin auto
         p
           color #7d8497
         P:first-child
           font-size 0.15rem
         p:last-child
           font-size 0.12rem
           margin-top 0.12rem
 .smartServices
   margin-top 0.43rem
   div:first-child
     width 80%
     margin auto
     .Services
        width 1.15rem
        height 0.27rem
        border-radius: 1rem
        border: 0.02rem solid #7d8497
        margin auto
        ul
         li:first-child
           float left
           img
             height 0.19rem
             width 0.22rem
             margin-left 0.07rem
         li:last-child
             margin-top 0.02rem
             span
               margin-left 0.07rem
               font-size 0.16rem
               color  #7d8497
 .seeHomepage
   width 100%
   position absolute
   bottom 0.3rem











.authenticateSuccess
  margin-top 0.1rem
  padding-top 0.45rem
  li
    text-align center
    img
      width 3rem
  .authenticateResult
      margin-top 0.22rem
      div
        width 80%
        margin 0 auto
        p:first-child
          font-family: SourceHanSansCN-Medium
          font-size 0.15rem
          color  #b4873d
        P:last-child
          font-family: SourceHanSansCN-Regular
          font-size 0.12rem
          color #d5a764
          margin-top 0.12rem
.goToVisit
  position absolute
  bottom 0.3rem
  width 100%
  div
    text-align center
    .seeVisitHomepge
      font-family: SourceHanSansCN-Regular
      font-size 0.14rem
      color #6098de


