.yo-scroll::-webkit-scrollbar
  width: 0
  height: 0

.yo-scroll
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 5
  overflow: auto
  height: auto
  -webkit-overflow-scrolling: touch
  .inner
    position: absolute
    top: -0.51rem
    width: 100%
    height: auto
    transition-duration: 300ms
    .pull-refresh
      position: relative
      left: 0
      top: 0
      width: 100%
      height: 0.51rem
      display: flex
      display: -webkit-flex
      justify-content: center
      -webkit-justify-content: center
      align-items: center
      -webkit-align-items: center
      background: #F7F7F9

    .load-more
      position: relative
      left: 0
      top: 0
      width: 100%
      height: 0.5rem
      line-height: 0.5rem;
      text-align: center
      background: #F7F7F9
      font-size: 0.12rem
      color: #7D8497

    .nullData
    //暂无更多数据样式
      // display: none
      font-size: 0.12rem
      color: #7D8497
      //height: 0.23rem
      //line-height: 0.23rem
      height: 0.5rem
      line-height: 0.5rem
      text-align: center
      font-family SourceHanSansCN-Regular



    .down-tip,
    .refresh-tip,
    .up-tip
      display: none
      font-size: 0.12rem
      color: #7D8497
      font-family SourceHanSansCN-Regular

    .down-tip:before,
    .up-tip:before,
    .refresh-tip:before
      content: ''
      display: inline-block
      width: 0.24rem
      height: 0.24rem
      background-size: 100% !important

    .up-tip:before
      background: url(./img/down-logo.png) no-repeat center

    .refresh-tip:before
      background: url(./img/refresh-logo.gif) no-repeat center

    .down-tip:before
      background: url(./img/down-logo.png) no-repeat center

    .more-tip
      font-size: 0.12rem
      color: #7D8497
      display: flex
      align-items: center
      justify-content: center
      font-family SourceHanSansCN-Regular

    .more-tip:before
      content: ''
      display: inline-block
      width: 0.23rem
      height: 0.23rem
      background-size: 100% !important
      margin-right: 0.05rem

    .more-tip:before
      -webkit-animation: weuiLoading 1s steps(12, end) infinite
      animation: weuiLoading 1s steps(12, end) infinite
      background: url(./img/img-loading.png) no-repeat center

.yo-scroll.touch .inner
  transition-duration: 0

.yo-scroll.down .down-tip
  display: flex
  align-items: center
  font-family SourceHanSansCN-Regular

.yo-scroll.up .up-tip
  display: flex
  align-items: center
  font-family SourceHanSansCN-Regular

.yo-scroll.refresh .refresh-tip
  display: flex
  align-items: center
  font-family SourceHanSansCN-Regular
