@import '../../common/stylus/mixin.styl';
.personalCenter
  width: 100%
  min-height: 100%
  background: #f7f7f9
.row
  .list-group
    .list-group-item
      height 0.43rem
      .bankCard
        width: 100%;
      .bankCard
        div:first-child
          float left
        div:last-child
          float right
      .leftSetFont
        font-size 0.14rem
        font-family SourceHanSansCN-Normal
        color #8A91A2
        letter-spacing 0
      .phone
        padding-right 0.04rem
        font-size: 0.14rem;
        color: #232323;
        letter-spacing: 0;
        font-family Roboto-Regular
      .isRealName
        float right
        margin-right 0.04rem
      .cardAndRisk
        font-size: 0.14rem;
        color: #232323;
        letter-spacing: 0;
        font-family SourceHanSansCN-Normal
      .updateSpot
        width 0.08rem
        height 0.08rem
        border-radius 50%
        display inline-block
        background #FF3A38
        margin-right 0.04rem
      .icon
        &.icon-advance:before {
          color: #ffff;
        }
      .rightSetFont
        font-family: SourceHanSansCN-Normal;
        font-size: 0.14rem;
        color: #232323;
        letter-spacing: 0;
      .realName
        padding-right 0.3rem
      .icon-advance:before {
        color: #7D8497;
      }
    .checkIdentity
      height: auto
      min-height: 0.43rem
      .identityName
        padding: 0.1rem 0
        .cardAndRisk
          max-width: 2.28rem
    .headPicture
      height 0.6rem
      .headPictureRight
        img
          vertical-align middle
          width 0.34rem
          height 0.34rem
          display inline-block
          border-radius 0.5rem
.btn-success
  margin-top 0.5rem
  background-image: linear-gradient(-227deg, #ACAFB8 0%, #ACAFB8 100%)
  box-shadow: 0 0px 0px 0 rgba(0, 167, 100, 0.30)

.photo
  background-color #fff
  li
    height 0.49rem
    line-height 0.49rem
    text-align center
    font-size 0.14rem
    color #232323
  li:first-child
    border-bottom-1px(1px, #e6e6e6)

  li:nth-child(2)
    border-bottom 10px solid #f0f0f0

.icon-bg
  background: -webkit-linear-gradient(60deg, #667ca7, #3d5179);
  -webkit-background-clip: text;
  webkit-text-fill-color: transparent;

[class^="icon-"]
  vertical-align middle
  color #7d8497



