.form-group
  padding-top 0.1rem
  .form-label
    line-height 0.2rem
    background #ffffff
    margin-bottom 0.01rem
    padding: 0.115rem 0 0.115rem 0.19rem
    .form-label-font
      font-family SourceHanSansCN-Regular
      color #232323
      font-size 0.14rem
      margin-right 0.3rem
      &.form-control
        &::-webkit-input-placeholder
          font-size 0.14rem
          color #c6c6c6
          letter-spacing 0
  .validate-errors
    padding-left 0.2rem
    height 0.5rem
    font-size 0.12rem
    color #ff0000
