.container-fluid
  .prompt
    margin 0 0.2rem
    padding 0.1rem 0
    p
      font-family SourceHanSansCN-Regular
      font-size 0.12rem
      color #7D8497
      line-height 0.15rem
      &.mistake
        color #F56361
        word-break break-all
  .row
    margin-bottom 0
    .list-group
      li
        line-height 0.2rem
        padding 0.115rem 0.2rem
        .cardId
          margin-right 0.29rem
          color  #232323
          font-size 0.14rem
          display inline-block
          font-family: SourceHanSansCN-Regular
        input
          font-family: Roboto-Regular
          font-size: 0.18rem
          color: #232323
          letter-spacing: 0
  .btn-container
    margin-top 0.45rem
