.container-fluid
  background: #263147
  padding: 0
  .photo
    width 100%
    background-size: cover;
    background-image url("../../../common/img/background.jpg")
    background-position top
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

.gestureCipher
  .gestureContainer
    display: flex
    display: -webkit-flex
    flex-direction: column
    justify-content: center
    -webkit-justify-content: center
    align-items: center
    -webkit-align-items: center
    width: 100%
    position: absolute
    top: 0
    left: 50%
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-top: 1.095rem
    .passInformation
      width: 100%
      //position: absolute
      //top: 0.64rem
      //left: 0
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      div
        font-family: SourceHanSansCN-Regular
        letter-spacing: 0
        color: #fff
      div.welcoming
        margin: 0 0 0.3rem 0
        font-size: 0.18rem
        span
          display: inline-block
          width: 0.1rem
      div.massage
        font-size: 0.12rem
      div.errorMessage
        color: #F56F6E

    .canvasStyle
      margin-top: 0.65rem
      //position: absolute
      //left: 50%
      //margin-top: 2.0rem
      //-webkit-transform: translate(-50%, 0%);
      //transform: translate(-50%, 0%);
    .loginAgreement
      font-family: SourceHanSansCN-Regular
      font-size: 0.12rem
      color: #7D8497
      letter-spacing: 0
      line-height: 0.18rem
      padding: 0.23rem 0.26rem 0.2rem
      span
        color: #D5A764
  .ctrlBtn
    //position: absolute
    //bottom: 0.1rem
    //left: 0
    width: 100%
    .btn-container:first-child
      margin-top: 1.445rem
      span
        a
          color: #6098DE
          font-size: 0.14rem
          font-family: SourceHanSansCN-Regular
    .btn-container:last-child
      span
        a
          color: #fff
          font-size: 0.12rem


